<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cuidadores</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h1 class="ion-text-center">Alterar Cuidadores</h1>

  <ion-item lines="full">
    <ion-label position="floating">Nome</ion-label>
    <ion-input [(ngModel)]="cuidador.nome"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Telefone</ion-label>
    <ion-input [(ngModel)]="cuidador.telefone"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Experiência</ion-label>
    <ion-input [(ngModel)]="cuidador.experiencia" class="ion-text-right" type="number"></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Especialidades</ion-label>
    <ion-input [(ngModel)]="cuidador.especialidade"></ion-input>
  </ion-item>

  <br>

  <ion-button expand="block" (click)="salvar()">Salvar</ion-button>
  <ion-button expand="block" fill="outline" routerLink="/">Voltar</ion-button>
</ion-content>
